.row.testimoniales
            each testimonio in testimoniales
                .col-md-6.col-lg--4.mb-4
                    .card
                        .card-body
                            blockquote.blockquote
                            p.mb-0 #{testimonio.nombre}
                            footer.blockquote-foote #{testimonio.nombre}